/* utilities */
.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 12px;
}

.font-md {
  font-size: 20px;
  font-weight: 700;
}

.font-sm {
  font-size: 16px;
  font-weight: 500;
}

/* utilities */

.QA_banner {
  height: 304px;
  background-image: url(../images/72.png);
}

.QA_block {
  position: relative;
}

.QA_banner h1 {
  position: absolute;
  font-size: 64px;
  align-items: center;
  left: 20px;
  bottom: 0;
}

/* main */

.main {
  padding: 88px 0 156px 20px;
}

.QA_list h2 {
  font-size: 2rem;
}

table {
  width: 100%;
  margin-top: 1rem;
}

table,
tr,
td {
  border: 1px solid black;
}

td {
  padding: 20px 40px;
}

.drop {
  background: #F2F2F2;
}

td>img {
  margin-left: auto;
}

@media (max-width:768px) {
  .QA_banner h1 {
    font-size: 3rem;
    left: 20px;
    bottom: 0;
  }

  .main {
    padding: 40px 0 104px 0;
  }

  .QA_list h2 {
    font-size: 28px;
  }

  table {
    margin-top: 2rem;
  }

  td {
    padding: 16px 24px;
  }
}

@media(max-width:375px) {
  .QA_banner h1 {
    font-size: 28px;
    left: 20px;
    bottom: 0;

  }

  .QA_banner img {
    margin-left: 0.5rem;
  }

  .main {
    padding: 40px 0 104px 0;
  }

  .QA_list h2 {
    font-size: 20px;
  }

  table {
    margin-top: 1rem；
  }

  td {
    padding: 16px 8px;
  }
}